<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="CONSOLE" />
		</Root>
		<logger name="life.genny" level="TRACE" />
		<logger name="io.vertx.core.impl.BlockedThreadChecker" level="OFF" />
		<logger name="io.vertx.core.VertxException" level="OFF" />
	</Loggers>
</Configuration>